__pycache__
.vscode
.DS_Store
**/*.pkl
**/*.lock
**/*tfevents*
classification/*.csv
*.data
*.meta
*.db
event/mlruns/*
mlruns/*
*.egg-info
build/
**/mlruns
*.venv
*.csv
*.png
*.pdf
bin/outdir
*.log
.aim
tmp/
*.tar
dev.ipynb
dev.py
dev_plot.ipynb
.VSCodeCounter
copy_data.sh
*.jsonl
*.sqlite
*.sqlite-journal
.env
/pytorch/
