__pycache__
.vscode
.DS_Store
**/*.pkl
**/*.lock
**/*tfevents*
classification/*.csv
*.data
*.meta
*.db
event/mlruns/*
mlruns/*
*.egg-info
build/
**/mlruns
*.venv
.venv/
*.csv
*.png
*.pdf
bin/outdir
*.log
paper/
!paper/
paper/*
!paper/_tmux_launch.sh
!paper/run_paper_full.sh
!configs/train/paper/
!configs/train/paper/**
.aim
tmp/
*.tar
dev.ipynb
dev.py
dev_plot.ipynb
.VSCodeCounter
copy_data.sh
*.jsonl
*.sqlite
*.sqlite-journal
.env
cache/*
results/*
docs/
old/
!configs/old/
!configs/old/**
embeddings
logs
checkpoint.pt
wandb
configs/old